.container{
    margin:50px 0;
}
.card{
    margin: 0 2% !important;
}
.infected{
    border-bottom: 10px solid rgb(212, 128, 18);
}
.recovered{
    border-bottom: 10px solid rgb(4, 230, 53);
}
.deaths{
    border-bottom: 10px solid rgb(121, 0, 0);
}